@font-face{
    font-family: intel-clear;
    src:url(asset/font/intel-clear-latin.woff2)
}

@font-face{
    font-family: intel-clear-lite;
    src:url(asset/font/intel-clear-latin-lite.woff2)
}

@font-face{
    font-family: intel-clear-bold;
    src:url(asset/font/intel-clear-latin-bold.woff2)
}

@font-face{
    font-family: intel-icon;
    src:url(asset/font/site-global-icons.ttf)
}

:root{
    font-family: intel-clear;
    font-size: 16px;
}

body{
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
}

ul >li {
    list-style: none;
}

a{
    text-decoration: none;
}
h1,h2,h3{
    margin: 0;
}

/* End global */

/* Icon */

.icon{
    font-family: intel-icon;
    font-style: normal;
}
.people::before{
    content: '\e871';
}

.global::before{
    content: '\e8ad';
}

.search::before{
    content: '\e8af';
}

.hands::before{
    content:'\eaa0';
}

.list::before{
    content: '\e831';
}

.box::before{
    content: '\ea9f';
}

.processor::before{
    content: '\e864';
}

.download::before{
    content: '\ea9e';
}

.facebook::before{
    content: '\f09a';
}

.twitter::before{
    content: '\f099';
}

.linkedin::before{
    content: '\f0e1';
}

.instagram::before{
    content: '\f16d';
}
/* General */

nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: inline-block;
}

nav ul li a{
    display: inline-block;
    padding: 1.5em 1.2em;
    color: #0071c5;
    font-size: .9em;
}

nav ul li a:hover{
    color: #003c71;
}

nav span:first-child ul li:first-child a{
    box-sizing: border-box;
    width: 70px;
    background-color: #0071c5;
    padding: 1.2em 7px;
}

nav span ul{
    display: flex;
}

nav span:nth-child(2) ul li form{
    display: flex;
}

nav span:nth-child(2) ul li form button{
    padding: 1.7em .5em;
    background-color: transparent;
    border: none;
}

nav span:nth-child(2) i{
    font-size: 21px;
    font-weight: 500;
    line-height: 0;
}

nav span:nth-child(2) ul li:nth-child(2) a{
    font-size: .6em;
    margin-right:2em ;
}

nav span:nth-child(2) ul li:nth-child(2) a i::before{
    display: inline-block;
    line-height: 32px;
}

nav .global{
    font-size: 21px;
    padding-right: .2em;
    line-height: 0;
}

nav span:nth-child(2) ul li:last-child{
    background-color: #f3f3f3;
}

nav span:nth-child(2) ul li:last-child form input{
    background-color: transparent;
    border: none;
    width: 15em;
}

nav form button:hover{
    cursor: pointer;
}

nav form input::placeholder{
    color: black;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: .6px;
    opacity: 1;
}

nav .search{
    background-color: transparent;
    color: #0071c5;
}

header{
    background-image: url(asset/gambar/xe-iris-abstract-right-angled-rwd.jpg.rendition.intel.web.1648.927.jpg);
    background-size: cover;
    background-position: center;
    display: flex;

}

header div:first-child a{
    color: white;
    margin: 1em 0;
}
    
header h1{
    font-size: 2.5rem;
    font-weight: lighter;
    font-family: intel-clear-lite;
}

header div:first-child p{
    font-size: 1em;
    margin: 0;
    width: 90%;
    padding:.5em 0;
}

header div:first-child{
    background-color:#0071c5 ;
    margin: 3em 4em 8em;
    padding: 2.3em;
    position: relative;
}

header div:first-child::after{
    position: absolute;
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    background-color:#00a3f6 ;
    top: 100%;
    left: 100%;
}

header div:first-child a:last-child{
    color: #0071c5;
    background-color: white;
    padding: 1em 1.5em;
    display: inline-block;
}

header div:first-child a:last-child::after{
    padding: 0 .5em;
    font-family: intel-icon;
    content: '\e8d2';
}


.feature div:first-child ul{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    gap: 1.5em;
}

.feature div:first-child ul li{
    flex-basis: 350px;
}

.feature .image img{
    width: 100%;
}

.feature div:first-child .desc h2{
    font-family: intel-clear;
    font-weight: 400;
    color: #252525;
    font-size: 0.875rem;
    letter-spacing: 0.04em;
    line-height: 32px;
    margin: 0;
    text-align: start;
}

.feature .desc p{
    margin: 0;
    font-size: 1.438rem;
    color: #0071c5;
    display: inline;
}

.feature div:first-child ul li{
    display: flex;
     background-color: #f3f3f3;
}

.feature div ul li a{
    display: block;
}

.feature div:first-child ul li a:hover{
    box-shadow: 0 0 4px 3px rgba(0,0,0,0.1);
     background-color: white;
}

.feature .image{
    overflow: hidden;
}

.feature div:first-child ul li a:hover .image img{
    transform: scale(1.1);
    transition: transform .4s;

}

.feature div:first-child .desc{
    padding: 1.5em 1em 2em;
}

.feature .desc::after{
    display: inline-block;
    font-family: intel-icon;
    content: '\e8d2' ;
    margin-left: .5em;
    color: #0071c5;
}

.feature .resource{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 4em 0;
}

.feature .resource h2{
    font-size: 28px;
    font-family: intel-clear-lite;
    font-weight: 200;
    margin-bottom: 2em;
    color: #252525;
}

.feature .resource ul{
    display: flex;
}

.feature .resource ul i{
    font-size: 25px;
    display: block;
    text-align: center;
    color: #0071c5;
}

.feature .resource ul a{
    display: block;
    color:#252525;
    margin: 0 2em;
    font-weight: 500;
}

.feature .resource ul a:hover{
    
    color: #0071c5;
}

main{
    position: relative;
    top: -3em;
}

footer{
    background-color: #e7e7e7;
    display: flex;
    padding: 0 5em;
    gap: 3em;
}


footer .item:first-child{
    flex-basis: 20%;
    align-self: center;
}

footer .item:first-child img{
    width: 90px;
}

footer div:nth-child(2){
    margin: 3em 0;
}

footer div:nth-child(2) span:first-child ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

footer div:nth-child(2) span:first-child ul a{
    color:black;
    
}

footer div:nth-child(2) span:first-child ul a:hover{
    text-decoration: underline;
}

footer div:nth-child(2) span{
    margin: 1em;
}

footer div:nth-child(2) span:nth-child(2) ul
{
    display: flex;
}

footer div:nth-child(2) span:nth-child(2) ul li a{
    color: black;
    font-size: 1.5em;
    padding-right: 1em;
}

footer div:nth-child(2) span:nth-child(2) ul li a:hover{
    color: dimgray;
}

footer div:nth-child(2) span:nth-child(3){
    font-size: .7em;
    color: black;
}

footer div:nth-child(2) span:nth-child(3) ul{
    display: flex;
    gap: .6em;
}

footer div:nth-child(2) span:nth-child(3) a{
    color: black;
}

footer p{
    font-size: .9em;
    color: dimgray;
}